.cnButton {
  background: #2196F3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.cnButton:active {
  background: #1976D2;
}

.cnButton:disabled {
  background: #e3f2fd;
}